<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8" />
    <title>Login</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<form id="login">
    email<br />
    <input id="email" type="email" placeholder = "email"/> <br />
    password<br />
    <input id="passwd" type="password" placeholder = "password"/> <br />
    confirm <br />
    <input id="confirm" type="password" placeholder = "password"/> <br />
    name <br />
    <input id="name" type="text" placeholder = "name"/> <br />
    depart <br />
    <input id="depart" type="text" placeholder = "depart"/> <br />
    telephone <br />
    <input id="tel" type="text" placeholder = "tel"/> <br />
    <input type="submit" value = "register" />
</form>





<script language="javascript">
    $("#login").submit(function(e){
        e.preventDefault();
        var email = $("#email").val();
        var passwd = $("#passwd").val();
        var confirm = $("#confirm").val();
        var name = $("#name").val();
        var depart = $("#depart").val();
        var tel = $("#tel").val();

        if(passwd != confirm){
            alert('password and confirm does not match');
            return;
        }

        $.ajax({
            type: "POST",
            url: "/reporter/register",
            data: email+"\n"+passwd+"\n"+name+"\n"+depart+"\n"+tel+"\n",
            success: function(data){
                window.location.replace("/reporter/login");
            },
            error: function(){
                alert("register failed");
            }
        })
    })
</script>
</body>
</html>